.ItemCard {
    align-content: center;
    border: black;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    /* max-height: 100px; */
    /* max-width: 100px; */
    /* display: block; */
}

#item-image {
    display: block;
}
img {
    max-height: 50px;
    max-width: 50px;
}